@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
} 

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #324ca8;
}

h1 {
  font-family: "ubuntu";
  font-size: 52px;
  text-align: center;
  color: #ff916c;
}

h2 {
  font-family: "ubuntu";
  font-size: 32px;
  text-align: center;
  color: #ff916c;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  background-color: #ffda6c;
  font-family: "ubuntu";
  color: #282a33;
  border-radius: 0.5em;
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 150ms;
}

.quest-form {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffda6c;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 0.8em;
}

.quest-input {
  padding: 0.5em 0.8em;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px;
}

.quest-input:hover {
  border-color: #324ca8;
}

.quest-input:focus {
  outline: 0;
  border: 1px solid lightblue;
}

.quest-list {
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.quest-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quest-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setquest-button {
  height: 25px;
  border-radius: 0.5em;
}

.setquest-button:hover {
  height: 30px;
  border-radius: 0.5em;
  border-color: #324ca8;
}

.quest-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffda6c;
  text-align: center;
  font-family: "ubuntu";
  font-weight: bold;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.8em;
  margin-bottom: 15px;
}

.quest-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 15px;
  padding-left: 15px;
}

.edit-icon {
  padding: 5px;
}

.check-icon {
  padding: 5px;
}

.delete-icon {
  padding: 5px 10px 5px 5px;
}


.strike {
  color: red;
  text-decoration: line-through;
}
