.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 150ms;
}

.quest-form {
  display: flex;
  flex-direction: row;
}

.quest-input {
  padding: 0.5em 0.8em;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quest-input:focus {
  outline: 0;
  border: 1px solid lightblue;
}

.quest-list {
  list-style: none;
}

.quest-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quest-column {
  display: flex;
  flex-direction: column;
}

.strike {
  color: red;
  text-decoration: line-through;
}
